<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <nav
    th:fragment="navbar"
    class="navbar navbar-expand-md navbar-dark bg-dark sticky-top"
  >
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">Inicio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mb-2 mb-md-0 w-100">
          <!--DROPDOWN Recuperadores-->
          <li class="nav-item dropdown">
            <a
              id="dropdown-recuperadores"
              class="nav-link dropdown-toggle"
              th:href="@{/recuperadores}"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Recuperadores
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="dropdown-recuperadores"
            >
              <li>
                <a class="dropdown-item" th:href="@{/recuperadores}"
                  >Mostrar todos</a
                >
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/recuperadores/crear}"
                  >Crear Recuperador</a
                >
              </li>
            </ul>
          </li>
          <!--DROPDOWN Clasificadores-->
          <li class="nav-item dropdown">
            <a
              id="dropdown-clasificadores"
              class="nav-link dropdown-toggle"
              th:href="@{/clasificadores}"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Clasificadores
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="dropdown-clasificadores"
            >
              <li>
                <a class="dropdown-item" th:href="@{/clasificadores}"
                  >Mostrar todos</a
                >
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/clasificadores/crear}"
                  >Crear Clasificador</a
                >
              </li>
            </ul>
          </li>
          <!--DROPDOWN Rutas -->
          <li class="nav-item dropdown">
            <a
              id="dropdown-rutas"
              class="nav-link dropdown-toggle"
              th:href="@{/rutas}"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Rutas
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="dropdown-rutas"
            >
              <li>
                <a class="dropdown-item" th:href="@{/rutas}">Mostrar todas</a>
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/rutas/crear}"
                  >Crear Ruta</a
                >
              </li>
            </ul>
          </li>
          <!--DROPDOWN Clientes-->
          <li class="nav-item dropdown">
            <a
              id="dropdown-matieriales"
              class="nav-link dropdown-toggle"
              th:href="@{/matieriales}"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Materiales
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="dropdown-matieriales"
            >
              <li>
                <a class="dropdown-item" th:href="@{/matieriales}"
                  >Mostrar todos</a
                >
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/matieriales/crear}"
                  >Crear Materiales</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</html>