<!DOCTYPE html>

<html lang="es" xlmns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Las barritas verticales me permiten escribir un texto estatico 
        dentro de lo que seria tymeleaf(en tymeleaf en si, solo se puede escribir
        texto que sea de tymeleaf, osea lo que serian las variables-->
        <title th:text="|${title} - Ejemplo Egg|"></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Nombre de Usuario"/>
            <input type="password" name="password" placeholder="Clave"/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
           